<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Błąd</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Wystąpił błąd</h1>
    <div class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}">Komunikat o błędzie</p>
    </div>
    <a href="/" class="btn btn-primary">Powrót do strony głównej</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
