<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zakończone Zamówienia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Zakończone Zamówienia</h2>
    <div class="accordion" id="ordersAccordion">
        <div th:each="order, orderStat : ${finishedFoodOrders}" class="card">
            <div class="card-header" th:id="'heading' + ${orderStat.index}">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" th:data-target="'#collapse' + ${orderStat.index}" aria-expanded="true" th:aria-controls="'collapse' + ${orderStat.index}">
                        <span>Order #<span th:text="${orderStat.count}"></span> - </span>
                        <span th:text="${order.orderTime}"></span>
                    </button>
                </h2>
            </div>

            <div th:id="'collapse' + ${orderStat.index}" class="collapse" th:aria-labelledby="'heading' + ${orderStat.index}" th:data-parent="'#ordersAccordion'">
                <div class="card-body">
                    <p><strong>Status:</strong> <span th:text="${order.foodOrderStatus}"></span></p>
                    <p><strong>Total Price:</strong> <span th:text="${order.totalPrice}"></span> PLN</p>

                    <h5>Items Ordered:</h5>
                    <ul>
                        <li th:each="item : ${order.orderItems}">
                            <span th:text="${item.menuItem.name}"></span> -
                            <span th:text="${item.quantity}"></span> x
                            <span th:text="${item.menuItem.price}"></span> PLN
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="action-buttons mt-4">
        <a th:href="@{/showOrdersInProgress}" class="btn btn-info">Powrót do bieżących zamówień</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
